.link {
    color: #14865C;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    margin-right: 10px;
    &:hover {
        /* -webkit-text-stroke: 1px #14865C; якщо треба, щоб букви були з чыткими границями*/
        color: #ffffff;
    }
}

.active {
    color: #ffffff;
}
@media (min-width: 768px) {
.link {
    color: #14865C;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;

    &:hover {
        /* -webkit-text-stroke: 1px #14865C; якщо треба, щоб букви були з чыткими границями*/
        color: #ffffff;
    }
}

.active {
    color: #ffffff;
}
}