.container {
    max-width: 320px;
    background: url(../../assets/img/mob-bg-1.png);
    background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    min-height: 375px;
    margin-bottom: 20px;
}

.title {
    color:black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 240px;
    white-space: nowrap;
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
        background: url(../../assets/img/tab-bg-1.png);
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title {
        margin-left: 30px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 100%;
        background: url(../../assets/img/bg.png);
        background-position: top left 50px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
