.wrapNot {
    background: url('/public/dribbble.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 25px;
}
@media (min-width: 1280px) {
    .descr{
    font-size: 25px;
    }
}